.Navigation_list {
  display: flex;
  flex-direction: column;
  /* list-style: none; */
  box-shadow: 0px 5px 5px gray;
  padding-bottom: 20px;
}
.Navigation_item {
  margin-right: 40px;
}
.Navigation_link {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: black;
}
.Navigation_link:hover {
  color: palevioletred;
}
.Navigation_link_active {
  color: palevioletred;
}
